<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nestedrecyclerviewtesting">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NestedRecyclerViewTesting">
        <activity android:name="com.VegetablesDetails.PearlBeansDetails"></activity>
        <activity android:name="com.ChineseCeleryBuyAndAddToCartDetails.ChineseCeleryBuyDetails" />
        <activity android:name="com.VegetablesDetails.ChineseCeleryDetails" />
        <activity android:name="com.CorianderBuyAndAddToCartDetails.CorianderBuyDetails" />
        <activity android:name="com.VegetablesDetails.CorianderDetails" />
        <activity android:name="com.SpringOnionBuyAndAddToCartDetails.SpringOnionBuyDetails" />
        <activity android:name="com.VegetablesDetails.SpringOnionDetails" />
        <activity android:name="com.VegetablesDetails.SweetcornDetails" />
        <activity android:name="com.VegetablesDetails.PearlSweetCornBiColourDetails" />
        <activity android:name="com.VegetablesDetails.BrownOnionDetails" />
        <activity android:name="com.VegetablesDetails.RedOnionDetails" />
        <activity android:name="com.VegetablesDetails.GarlicDetails" />
        <activity android:name="com.VegetablesDetails.QingLongCaiDetails" />
        <activity android:name="com.VegetablesDetails.LocalCucumberDetails" />
        <activity android:name="com.VegetablesDetails.LongbeanDetails" />
        <activity android:name="com.VegetablesDetails.JapaneseCucumberDetails" />
        <activity android:name="com.VegetablesDetails.GingkoNutsDetails" />
        <activity android:name="com.VegetablesDetails.LotusSeedDetails" />
        <activity android:name="com.VegetablesDetails.PoachedBambooShootDetails" />
        <activity android:name="com.VegetablesDetails.EryngiimuhsroomDetails" />
        <activity android:name="com.VegetablesDetails.WhitecrabmuhsroomDetails" />
        <activity android:name="com.VegetablesDetails.AustraliaPotatoDetails" />
        <activity android:name="com.VegetablesDetails.HollandPotatoDetails" />
        <activity android:name="com.VegetablesDetails.OrganicDouMiaoDetails" />
        <activity android:name="com.VegetablesDetails.PetaiDetails" />
        <activity android:name="com.VegetablesDetails.LocalSharpLeavesSpinachDetails" />
        <activity android:name="com.VegetablesDetails.LocalRedSpinachDetails" />
        <activity android:name="com.VegetablesDetails.LocalKangKongDetails" />
        <activity android:name="com.VegetablesDetails.OldYellowCucumberDetails" />
        <activity android:name="com.VegetablesDetails.MiniSweetPeppersDetails" />
        <activity android:name="com.VegetablesDetails.ChineseCabbagesDetails" />
        <activity android:name="com.VegetablesDetails.KauKeeDetails" />
        <activity android:name="com.VegetablesDetails.TomatoesDetails" />
        <activity android:name="com.VegetablesDetails.ShallotDetails" />
        <activity android:name="com.VegetablesDetails.WhiteRadishDetails" />
        <activity android:name="com.VegetablesDetails.BabyKailansDetails" />
        <activity android:name="com.VegetablesDetails.BabyFrenchBeanDetails" />
        <activity android:name="com.LadyFingerBuyAndAddToCartDetails.LadyFingerBuyDetails" />
        <activity android:name="com.VegetablesDetails.LadyFingerDetails" />
        <activity android:name="com.VegetablesDetails.BrinjalDetails" />
        <activity android:name="com.VegetablesDetails.LocalEndivesDetails" />
        <activity android:name="com.VegetablesDetails.TangOhDetails" />
        <activity android:name="com.VegetablesDetails.BigVegetbalesDetails" />
        <activity android:name="com.VegetablesDetails.YellowBellPepperDetails" />
        <activity android:name="com.VegetablesDetails.RedBellPepperDetails" />
        <activity android:name="com.VegetablesDetails.GreenBellPepperDetails" />
        <activity android:name="com.VegetablesDetails.ChestnutsDetails" />
        <activity android:name="com.VegetablesDetails.pumpkinDetails" />
        <activity android:name="com.VegetablesDetails.enokimushroomDetails" />
        <activity android:name="com.VegetablesDetails.WhiteShimeijiMushroomDetails" />
        <activity android:name="com.VegetablesDetails.BrownShimeijiMushroomDetails" />
        <activity android:name="com.VegetablesDetails.BabyKailanDetails" />
        <activity android:name="com.VegetablesDetails.BabyChaiSimDetails" />
        <activity android:name="com.VegetablesDetails.BabyShanghaiGreenDetails" />
        <activity android:name="com.VegetablesDetails.BabyPakChoyDetails" />
        <activity android:name="com.VegetablesDetails.SpinachDetails" />
        <activity android:name="com.VegetablesDetails.YoumaiDetails" />
        <activity android:name="com.VegetablesDetails.ShangHaiGreenDetails" />
        <activity android:name="com.VegetablesDetails.KailanDetails" />
        <activity android:name="com.VegetablesDetails.ChyeSimFlowerDetails" />
        <activity android:name="com.VegetablesDetails.ChineseLeekDetails" />
        <activity android:name="com.VegetablesDetails.SnowPeaDetails" />
        <activity android:name="com.VegetablesDetails.SweetPeaDetails" />
        <activity android:name="com.VegetablesDetails.IcebergLettuceDetails" />
        <activity android:name="com.VegetablesDetails.CeleryDetails" />
        <activity android:name="com.VegetablesDetails.NapaCabbageDetails" />
        <activity android:name="com.VegetablesDetails.CauliFlowerDetails" />
        <activity android:name="com.VegetablesDetails.ArrowRootDetails" />
        <activity android:name="com.ShitakeMushroomsBuyAndAddToCartDetails.ShitakeMushroomsBuyDetails" />
        <activity android:name="com.VegetablesDetails.ShitakeMushroomsDetails" />
        <activity android:name="com.VegetablesDetails.PearlSweetCornDetails" />
        <activity android:name="com.VegetablesDetails.LotusRootDetails" />
        <activity android:name="com.VegetablesDetails.WaterChestnutsDetails" />
        <activity android:name="com.VegetablesDetails.WinterMelonDetails" />
        <activity android:name="com.VegetablesDetails.YaconDetails" />
        <activity android:name="com.VegetablesDetails.AustraliaBroccoliDetails" />
        <activity android:name="com.VegetablesDetails.GreenRadishDetails" />
        <activity android:name="com.VegetablesDetails.CherryTomatoesDetails" />
        <activity android:name="com.VegetablesDetails.CherryPlumDetails" />
        <activity android:name="com.VegetablesDetails.CarrotDetails" />
        <activity android:name="com.LimeBuyAndAddToCartDetails.LimeBuyDetails" />
        <activity android:name="com.VegetablesDetails.LimeDetails" />
        <activity android:name="com.ChilliPadiBuyAndAddToCartDetails.ChilliPadiBuyDetails" />
        <activity android:name="com.VegetablesDetails.ChilliPadiDetails" />
        <activity android:name=".MoreActivities" />
        <activity android:name="com.itemDetails.Kara200mlDetails" />
        <activity android:name="com.itemDetails.Kara500mlDetails" />
        <activity android:name="com.itemDetails.TonkotsuPorkRamenSoupStock500mlDetails" />
        <activity android:name="com.itemDetails.SesameHotpotDetails" />
        <activity android:name="com.itemDetails.SoysauceDetails" />
        <activity android:name="com.itemDetails.DarkSoySauce350mlDetails" />
        <activity android:name="com.itemDetails.Darksoysauce750ml" />
        <activity android:name="com.itemDetails.Blackvinegar350mlDetails" />
        <activity android:name="com.itemDetails.Blackvinegar750mlDetails" />
        <activity android:name="com.itemDetails.SesameOilDetails" />
        <activity android:name="com.itemDetails.JapaneseFriedChickenDetails" />
        <activity android:name="com.itemDetails.SingaporeCurryChickenPasteDetails" />
        <activity android:name="com.itemDetails.RendangPasteDetails" />
        <activity android:name="com.itemDetails.CurryLongtongVegetablePasteDetails" />
        <activity android:name="com.itemDetails.SingaporeLaksaPasteDetails" />
        <activity android:name="com.itemDetails.TomYumPasteDetails" />
        <activity android:name="com.itemDetails.AnchovySambalDetails" />
        <activity android:name="com.itemDetails.MarmiteSauceDetails" />
        <activity android:name="com.itemDetails.KamHeongPasteDetails" />
        <activity android:name="com.Categories.Pork" />
        <activity android:name="com.Categories.Noodles" />
        <activity android:name="com.Categories.Fruit" />
        <activity android:name="com.Categories.YongTaoFoo" />
        <activity android:name="com.Categories.FishAndSeaFood" />
        <activity android:name="com.Categories.Chicken" />
        <activity android:name="com.Categories.Vegetables" />
        <activity android:name="MoreOptions.MoreActivities" />
        <activity android:name="com.Categories.SauceAndPaste" />
        <activity android:name=".PaymentOptionsPage" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".ActivityForgetPassword" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RecommendedActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>